SONARR_URL=http://sonarr:9898/api/v3/releaseprofile/1
SONARR_APIKEY=
SONARR4K_URL=http://sonarr4k:8989/api/v3/releaseprofile/1
SONARR4K_APIKEY=
RADARR_URL=http://radarr:8787/api/v3/releaseprofile/1
RADARR_APIKEY=
RADARR4K_URL=http://radarr4k:7878/api/v3/releaseprofile/1
RADARR4K_APIKEY=

SCENE2ARR_DB_FILE=scene2arr.db
PRE_DB_FILE=pre.db
IRC_CONFIG_FILE=irc.yaml
SCENERENAME_DB_FILE=scenerename.db