from classes import PVR


sonarr = PVR("sonarr")
sonarr4k = PVR("sonarr4k")
radarr = PVR("radarr")
radarr4k = PVR("radarr4k")


# config for scene2arr.py
sonarr.url = "http://sonarr:9898/api/v3/releaseprofile/1"
sonarr.apikey = ""

sonarr4k.url = "http://sonarr4k:8989/api/v3/releaseprofile/1"
sonarr4k.apikey = ""

radarr.url = "http://radarr:8787/api/v3/restriction/1"
radarr.apikey = ""

radarr4k.url = "https://radarr4k:7878/api/v3/restriction/1"
radarr4k.apikey = ""


# see https://api.xrel.to/v2/release/categories.xml for a list of possible categories
xrel_categories = (
    "ENGLISH",       # contains English language TV and MOViE releases
)