#
# scene2arr.py
#

# see https://api.xrel.to/v2/release/categories.xml for a list of available categories
xrel_categories = (
    "ENGLISH",       # contains English language TV and MOViE releases
)

# You'll finda list of available types, languages and formats in scene-release-parser-php/ReleasePatterns.php
# acceptable release types for sonarr/radarr
irc_types = (
    "Anime",
    "TV",
    "Sports",
    "Movie"
)

# acceptable languages for sonarr/radarr
irc_languages = [
    {"de"},
    {"de", "multi"},
    {"en"},
    set() # = No language in release name
    # Add more valid combinations as needed
]

# acceptable formats for sonarr/radarr
irc_formats = (
    "AVC",
    "x264",
    "x265",
    "h264",
    "h265",
    "HEVC"
)