#
# scene2arr.py
#
def configure_pvrs():
    from classes import PVR
    sonarr = PVR("sonarr")
    sonarr4k = PVR("sonarr4k")
    radarr = PVR("radarr")
    radarr4k = PVR("radarr4k")

    sonarr.url = "http://sonarr:9898/api/v3/releaseprofile/1"
    sonarr.apikey = ""

    sonarr4k.url = "http://sonarr4k:8989/api/v3/releaseprofile/1"
    sonarr4k.apikey = ""

    radarr.url = "http://radarr:8787/api/v3/releaseprofile/1"
    radarr.apikey = ""

    radarr4k.url = "https://radarr4k:7878/api/v3/releaseprofile/1"
    radarr4k.apikey = ""

    return sonarr, sonarr4k, radarr, radarr4k


# see https://api.xrel.to/v2/release/categories.xml for a list of available categories
xrel_categories = (
    "ENGLISH",       # contains English language TV and MOViE releases
)

# You'll finda list of available types, languages and formats in scene-release-parser-php/ReleasePatterns.php
# acceptable release types for sonarr/radarr
irc_types = (
    "Anime",
    "TV",
    "Sports",
    "Movie"
)

# acceptable languages for sonarr/radarr
irc_languages = [
    {"de"},
    {"de", "multi"},
    {"en"},
    set() # = No language in release name
    # Add more valid combinations as needed
]

# acceptable formats for sonarr/radarr
irc_formats = (
    "AVC",
    "x264",
    "x265",
    "h264",
    "h265",
    "HEVC"
)